body {
	background-color: #FFFFFF;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
}

#container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	height: 720px;
	border: 3px solid black;
	border-radius: 17px;
}

#top {
	position: absolute;
	top: 0px;
	width: 960px;
	background-color: #333333; /* dark gray */
	height: 60px;
	border-radius: 15px 15px 0px 0px;
	color: #FFFFFF;
}

#top #app_name {
	position: absolute;
	top: 15px;
	left: 15px;
	color: #FFFFFF;
	font-size: 24px;
}

#top #app_name #project_head {
	color: #878083;
	font-family: Arial;
}
#top #user_name {

	position: absolute;
	top: 20px;
	left: 50%;
}

#top #user_score {
	position: absolute;
	top: 10px;
	left: 70%;
}

#top #user_level {
	position: absolute;
	top: 30px;
	left: 70%;
}

#top #tools {

	position: absolute;
	top: 50%;
	left: 85%;
}

#top #options {
	position: absolute;
	top: 50%;
	left: 90%;
}

#top #account_settings {
	position: absolute;
	top: 50%;
	left: 95%;
}

#left {
	position: absolute;
	/*float: left;*/
	top: 60px;
	left: 0%;
	background-color: #DE8F35;
	width: 60%;
	height: 660px;
	border-radius: 0px 0px 0px 15px;
}

#left #question {
	position: absolute;
	border-radius: 15px 15px 15px 15px;
	top: 15px;
	left: 15px;
	background-color: #098696;
	right: 15px;
	height: 60%;
}

#left #question #lesson_header {
	position: absolute;
	font-family: "Rockwell Condensed";
	font-weight: bold;
	font-size: 20px;
	color: #23C910;
	top: 15px;
	left: 30px;
	text-shadow: 5px 5px 5px #333333;
}

#left #question #question_text {
	position: absolute;
	color: white;
	margin: 50px;
	width: 400px;
	height: 200px;
	line-height: 200%;
	font-family: "Rockwell Condensed";
	font-weight: bold;
	font-size: 18px;
	text-shadow: 5px 5px 5px #333333;
}

#left #question #random_question_text {
	position: absolute;
	color: white;
	margin: 125px 125px;
	width: 400px;
	height: 200px;
	line-height: 200%;
	font-family: "Rockwell Condensed";
	font-weight: bold;
	font-size: 18px;
	text-shadow: 5px 5px 5px #333333;
}


#left #question #random_question_text_lower {
	position: absolute;
	color: white;
	margin: 200px 125px;
	width: 400px;
	height: 200px;
	line-height: 200%;
	font-family: "Rockwell Condensed";
	font-weight: bold;
	font-size: 18px;
	text-shadow: 5px 5px 5px #333333;
}


#left #randomization_block .randomization {
	position: relative;
	color: white;
	width: 400px;
	height: 20px;
	font-family: "Rockwell Condensed";
	font-weight: bold;
	font-size: 18px;
	text-shadow: 5px 5px 5px #333333;
	left: 30px;
	top: 30px;
}

#left #randomization_block {
	position: absolute;
	border-radius: 15px 15px 15px 15px;
	bottom: 15px;
	left: 15px;
	background-color: #098696;
	right: 15px;
	height: 33%;
}

#part1 {
	margin: 300px 50px;
}

#part2 {
	margin: 325px 50px;
}

#left #feedback {
	position: absolute;
	border-radius: 15px 15px 15px 15px;
	bottom: 15px;
	left: 15px;
	background-color: #098696;
	right: 15px;
	height: 33%;
}

#left #feedback #feedback_header {
	position: absolute;
	font-family: "Rockwell Condensed";
	font-weight: bold;
	font-size: 20px;
	color: #23C910;
	top: 15px;
	left: 30px;
	text-shadow: 5px 5px 5px #333333;
}

#left #feedback #user_answer {
	position: absolute;
	text-align: center;
	font-family: "Rockwell Condensed";
	font-weight: bold;
	color: white;
	font-size: 24px;
	padding: 10px;
	height: 40px;
	width: 200px;
	margin: 50px 25px;
	text-shadow: 5px 5px 5px #333333;
}

#left #feedback #correctness {
	z-index: 1;
	position: absolute;
	text-align: center;
	font-family: "Rockwell Condensed";
	font-weight: bold;
	color: black;
	margin: 40px 275px;
	font-size: 20px;
	background-color: #E4EB17;
	width: 200px;
	height: 25px;
	padding: 20px;
	border-radius: 10px 10px 10px 10px;
	border-style: solid;
	border-color: #333333;
}

#left #feedback #explain {

	position: absolute;
	text-align: center;
	font-family: "Rockwell Condensed";
	font-weight: bold;
	font-size: 18px;
	color: white;
	background-color: #126629;
	width: 500px;
	height: 75px;
	padding: 5px;
	border-radius: 10px 10px 10px 10px;
	margin: 125px 15px;
	text-shadow: 5px 5px 5px #333333;
}

#try_again {

	margin: 10px 100px;
	border-color: none;
	border-style: none;
	text-align: center;
	vertical-align: center;
	position: absolute;
	padding: 5px;
	width: 140px;
	height: 25px;
	border-radius: 15px 15px 15px 15px;
	font-family: "Rockwell Condensed";
	font-weight: bold;
	font-size: 18px;
	color: white;
	background-color: red;
}

#continue {

	margin: 10px 100px;
	border-color: none;
	border-style: none;
	text-align: center;
	vertical-align: center;
	position: absolute;
	padding: 5px;
	width: 140px;
	height: 25px;
	border-radius: 15px 15px 15px 15px;
	font-family: "Rockwell Condensed";
	font-weight: bold;
	font-size: 18px;
	color: white;
	background-color: red;
}

#back_button {

	margin: 250px 20px;
	border-color: none;
	border-style: none;
	text-align: center;
	vertical-align: center;
	position: absolute;
	padding: 5px;
	width: 140px;
	height: 25px;
	border-radius: 15px 15px 15px 15px;
	font-family: "Rockwell Condensed";
	font-weight: bold;
	font-size: 18px;
	color: white;
	background-color: orange;
}

#next_button {

	margin: 250px 180px;
	border-color: none;
	border-style: none;
	text-align: center;
	vertical-align: center;
	position: absolute;
	padding: 5px;
	width: 140px;
	height: 25px;
	border-radius: 15px 15px 15px 15px;
	font-family: "Rockwell Condensed";
	font-weight: bold;
	font-size: 18px;
	color: white;
	background-color: orange;
}

#generate{
	
	margin: 20px 300px;
	border-color: none;
	border-style: none;
	text-align: center;
	vertical-align: center;
	position: absolute;
	padding: 5px;
	width: 10px;
	height: 10px;
	border-radius: 5px 5px 5px 5px;
	font-family: "Rockwell Condensed";
	font-weight: bold;
	font-size: 18px;
	color: white;
	background-color: orange;
	
}

#right {
	position: absolute;
	top: 60px;
	left: 60%;
	background-color: #DE8F35;
	width: 40%;
	height: 660px;
	border-radius: 0px 0px 15px 0px;
}

#right #scratchpad {
	position: absolute;
	border-radius: 15px 15px 15px 15px;
	top: 15px;
	left: 15px;
	background-color: #098696;
	right: 15px;
	height: 43%;
}

#right #scratchpad #scratchpad_text {
	font-family: "Rockwell Condensed";
	font-weight: bold;
	font-size: 18px;
	color: white;
	text-shadow: 5px 5px 5px #333333;
	padding: 15px;
}

#right #response {
	position: absolute;
	border-radius: 15px 15px 15px 15px;
	bottom: 15px;
	left: 15px;
	background-color: #333333;
	right: 15px;
	height: 50%;
	border-style: solid;
	border-color: #098696;
}

#header {
	position: absolute;
	color: white;
	margin: 60px 20px;
	font-family: "Rockwell Condensed";
	font-weight: bold;
	font-size: 18px;
}

#right #response .button {
	text-align: center;
	vertical-align: center;
	position: absolute;
	background-color: #878485;
	padding: 5px;
	width: 140px;
	height: 40px;
	border-radius: 15px 15px 15px 15px;
	font-family: "Rockwell Condensed";
	font-weight: bold;
	font-size: 18px;
	color: white;
	border-style: solid;
	border-color: #DE8F35;
}

.submit {

	margin: 10px 100px;
	border-color: none;
	border-style: none;
	text-align: center;
	vertical-align: center;
	position: absolute;
	padding: 5px;
	width: 140px;
	height: 25px;
	border-radius: 15px 15px 15px 15px;
	font-family: "Rockwell Condensed";
	font-weight: bold;
	font-size: 18px;
	color: white;
	background-color: #F57627;
}

.attempt_header {

	margin: 300px 10px;
	color: white;
}

#button1 {
	margin: 100px 20px;
}

#button2 {
	margin: 100px 180px;
}

#button3 {
	margin: 175px 20px;
}

#button4 {
	margin: 175px 180px;
}

#button5 {
	margin: 250px 20px;
}

#button6 {
	margin: 250px 180px;
}

